<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LAI'S LAB</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <header>
        <a href="https://sites.google.com/stevens.edu/pklab/home?authuser=0" target="_blank">
            <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="LAI'S LAB" id="logo">
        </a>
    </header>

    <main>
        <section id="deepSP">
            <div class = "text-container">DeepSP </div>
        </section>
            <div id="about">
                <h1>> About DeepSP</h1>
            </div> 
            <div id="intro">
                <h3>DeepSP: An antibody specific deep learning surrogate model for predicting antibody stability.</h3>
                <p>DeepSP is a computational tool that utilizes deep learning to predict 30 structural properties of monoclonal antibodies, including spatial aggregation propensity (SAP), spatial negative charge map (SCM_neg) and spatial positive charge map (SCM_pos) scores, directly from variable region sequence information. This innovative approach eliminates the need for time-consuming and computationally demanding molecular dynamics (MD) simulations and captures surface hydrophobicity, negative charge and positive charge distribution in 10 domains (CDRH1, CDRH2, CDRH3, CDRL1, CDRL2, CDRL3, CDR, Hv, Lv, Fv) of antibodies.</p>
                <style>
                    #intro p {
                        text-align: justify;
                    }
                </style>
                <h3>How to Use DeepSP:</h3>
                <ol>
                    <li>Enter the name of your antibody in the first text box.</li>
                    <li>Enter the heavy chain variable region sequence in the second text box. </li>
                    <li>Enter the light chain variable region sequence in the third text box. </li>
                    <li>Click the "Submit" button to generate thirty (30) DeepSP descriptors. </li>
                </ol>
                <h3>Note: To process large datasets at once, please refer to our <a href="https://github.com/Lailabcode/DeepSP" target="_blank">GitHub</a>.</h3>
                <h3>Citation: Kalejaye, L.; Wu, I.-E.; Terry, T.; Lai, P.-K. DeepSP: Deep Learning-Based Spatial Properties to Predict Monoclonal Antibody Stability.<i> Comput. Struct. Biotechnol. J.</i> 2024, 23, 2220-2229. (<a href="https://doi.org/10.1016/j.csbj.2024.05.029" target="_blank">https://doi.org/10.1016/j.csbj.2024.05.029</a>)</h3>
            </div>
            <div id="update">
                <h3>*** We have updated our website. Please visit: <a href="https://deepsp.onrender.com">https://deepsp.onrender.com</a>.</h3>
            </div> 
            
        </section>
    </main>
    <footer>
        <p> &copy; 2024 Pin-Kuang Lai's Group </p>
        <p> plai3@stevens.edu </p>
    </footer>
</body>
</html>


